<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
    
</head>
<body>
    <div class="archer">
        <img src="https://th.bing.com/th/id/OIP.vQ-R4IsXJbP7e3W5Grcd-wHaLH?w=182&h=273&c=7&r=0&o=5&dpr=1.25&pid=1.7g" alt="">
        <h1>
            You have picked the nimble Archer! Now choose your foe
        </h1>
    
        <h3>
            <a href="/archer/skeleton">Skeleton</a>
        </h3>
        <h3>
            <a href="/archer/zombie">Zombie</a>
        </h3>
        <h3>
            <a href="/archer/slime">Slime</a>
        </h3>
        </div>
</body>
</html>