<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<h1>
    Welcome <%= punctuation %> <%= my_user %> 
    Pick your Class
</h1>
<form action="/signup" method="POST">
    <p><input type="text" name="username" placeholder="What is your username"></p>
    <p><input type="text" name="password" placeholder="What is your password"></p>
    <input type="submit" value="sign up!">
</form>

<% if (invalid_login) { %>

    <div class="error">
        Invalid Login
    </div>
<% } %>

<a href="/warrior">Warrior</a>
<!-- <a href="/archer">Archer</a>
<a href="/mage">Mage</a> -->
</body>
</html>