<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="warrior">
        <img src="https://cdnb.artstation.com/p/assets/images/images/020/806/789/large/sam-leung-old-warrior-07-final.jpg?1569255082" alt="">
        <h1>
            You have picked the mighty Warrior! 
        </h1>
        <h2>You have slain the ghoulish Skeleton and have picked up a flaming sword!</h2>
    </div>

        <h2>  <%= choose %></h2>


        <div class="choices">

            <h3>
                 A<a class="options" href="/failure"> <%= monsters[0]['monster'] %> </a> <br>
            </h3>
            <h3>
                 B<a class="options" href="/warrior/third"> <%= monsters[1]['monster'] %> </a> <br>
            </h3>

        </div>

</body>
</html>