<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />

</head>
<body>
    <div class="warrior">
        <img src="https://cdnb.artstation.com/p/assets/images/images/020/806/789/large/sam-leung-old-warrior-07-final.jpg?1569255082" alt="">
        <h1>
            You have picked the mighty Warrior! Now choose your foe
        </h1>
        <h3>
            <a href="/warrior/skeleton">Skeleton</a>
        </h3>
        <h3>
            <a href="/warrior/zombie">Zombie</a>
        </h3>
        <h3>
            <a href="/warrior/slime">Slime</a>
        </h3>
        </div>
</body>
</html>